<!doctype html>
<!--[if lte IE 7]>
  <meta http-equiv="refresh" content="0" url="http://browsehappy.com/" />
  <script type="text/javascript">
  /* <![CDATA[ */
  window.top.location = 'http://browsehappy.com/';
  /* ]]> */
  </script>
<![endif]-->
<!--[if IE 8]><html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--><html class="gt-ie8"><!--<![endif]-->
  
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="cleartype" content="on">
    <meta name="author" content="">
    <meta name="description" content="Frameless Middleman: Because fluid layouts are the Devil. Verily.">

    <title><%= data.page.title %> | Frameless Middleman</title>
    <%= stylesheet_link_tag 'screen.css' %>
    <%= javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', '/javascripts/core.js') %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Arvo:400,700:latin', 'Vollkorn:400italic,400,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_tag 'favicon.png' %>
    <%= favicon_tag 'favicon.ico' %>
  </head>