---
title:
---

<% blog.articles[0...1].each_with_index do |article, i| %>
  <article class="<%= (i == 0) ? 'lead' : '' %>">
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <span class="postDetails clearfix"><time datetime="<%= article.date.strftime('%m-%Y') %>" class="date details"><%= article.date.strftime('%b %e %Y') %></time></span>
    <%= article.summary %>
    <p class="readmore details"><a href="<%= article.url %>"<i class="icon-share-alt"></i> Read More</a></p>
  </article>
<% end %>
<% blog.articles[1...4].each_with_index do |article, i| %>
  <article class="titles">
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <span class="postDetails clearfix"><time datetime="<%= article.date.strftime('%m-%Y') %>" class="date details"><%= article.date.strftime('%b %e %Y') %></time></span>
    <%= article.summary %>
    <p class="readmore details"><a href="<%= article.url %>"<i class="icon-share-alt"></i> Read More</a></p>
  </article>
<% end %>
